@import "../variables.scss";

/*nav*/
.bb-navigation {
  max-width: 1276px;
  margin: 0 auto;
}
.bb-navigation {
  background: none !important;
}
.bb-btn_nav {
  width: 180px;
}
.bb-logo-var-1 {
  margin-bottom: -130px;
  position: relative;
  z-index: 1;
}

.header-navigation_black {
  background: #0c0c0c;
}