.bb-close-cripto-premiere{
    text-align: center;
    &-img{
        margin-top: 52px;
    }
    .block-subtitle{
        padding-top: 50px;
    }
    .block-description{
        width: 726px;
    }
    .bb-btn{
        margin-bottom: 100px;
    }
}