include block/main_is-filming
include block/main_actors
include block/divider.pug
include block/main_block-chain-finance
include block/divider.pug
include block/main_target-sale-token
include block/divider.pug
include block/main_pre-ico
include block/divider.pug
include block/main_public-placement
include block/divider.pug
include block/main_token-distribution
include block/divider.pug
include block/main_close-cripto-premiere

include block/main_stand-film-produsser
include block/main_whats-can-do-bablos
include block/main_road-map
include block/main_about-us
