div(class="uk-divider-icon uk-margin-auto")(uk-parallax="opacity: 0,6; viewport: 0.2")
    img.divider-img(src="../img/divider.png", alt="")(uk-parallax="opacity: 0,6; scale: 2 ; rotate: 360; viewport: 0.3")