include ../mixin/wrapper
include ../mixin/block-subtitle
include ../mixin/block-description
include ../mixin/date-card

+wrapper("bb-public-placement")
    -var text = "Публичное размещение"
    +block-subtitle(text)

    -text = "Публичное размещение будет проводиться с экспотенциальным ростом цены за каждый следующий размещаемый токен."
    +block-description(text)

 

    div(class="uk-grid-small uk-child-width-1-3@s uk-flex-center uk-text-center bb-pre-ico-date" uk-grid)
        +date-card("Дата начала ICO", "15 апреля 2018")
    
    div(class="uk-grid-small uk-child-width-1-3@s uk-flex-center uk-text-center block-chain-category-list" uk-grid)
            each card, index in [{name: "Количество токенов", value: "Б 2 700 000"}, {img: "../../img/bablo-coin-reverse.png"} ,{name: "Цена за токен", value: "0,9 USD"}]
                +card-rotate-bg(card.value, card.name, card.img)