mixin card-rotate-bg(name, value, img)
        if img
            div(class="uk-card block-chain-category")
                img(src=img, alt="" class="block-chain-category-coin", uk-parallax="opacity: 0,1; rotate: 360; viewport: 0.5")
        else
            div(class="uk-card uk-card-body block-chain-category")
                img(src="../../img/shape.png", alt="" class="block-chain-category-img", uk-parallax="opacity: 0,1; scale: 2 ; rotate: 360; viewport: 0.5")
                .block-chain-category-text-wrapper(uk-parallax="opacity: 0,1; viewport: 0.5") 
                    div.block-chain-category-text
                        p.block-chain-category-title= value
                        span.block-chain-category-name= name