mixin date-card(name, value)
    div(class="uk-card uk-card-body .pre-ico-date")
        span.bb-pre-ico-date-name(uk-parallax="opacity: 0,1; viewport: 0.4")= name
        p.bb-pre-ico-date-value-wrapper
            img(src="../../img/calendar.png", alt="" uk-parallax="opacity: 0,1; viewport: 0.4")
            span.bb-pre-ico-date-value(uk-parallax="opacity: 0,1; viewport: 0.4")= value