@import "./variables.scss";

/*GLOBAL*/
body {
  color: $main-color;
  font-weight: 400;
  font-size: 14px;
  padding: 0 10px;
  background: #0c0c0c;
  font-family: $pfdindisplaypro;
  line-height: 25px;
}
h1,
h3 {
  color: $main-color;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: $futura;
}
h3 {
  padding-top: 85px;
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
}
p {
  color: $main-color;
  font-size: 21px;
  text-align: center;
}
a{
  font-family: $pfdindisplaypro !important;
}
.bb-btn {
  width: 275px;
  background: $primary-color;
  color: $main-color !important;
}
.bb-linsa {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
}
main section .bb-linsa > .container{
  width: 1084px;
  margin: 0 auto;
}
.block-description{
  max-width: 844px;
  margin: 0 auto 53px;
  text-align: center;
  &:last-child{
    margin-bottom: 70px;
  }
}
.block-subtitle{
  padding-top: 80px;
  font-size: 35px;
  font-family: $futura;
  text-transform: uppercase;
}
.divider-img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: (36px / 2);
  height: (44px / 2);
}
section.section-bg{
  background-position: center; 
}

/***Fonts***/
@font-face {
  font-family: "pfdindisplaypro";
  src: url("../fonts/pfdindisplaypro-reg.eot");
  src: url("../fonts/pfdindisplaypro-reg.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pfdindisplaypro-reg.woff") format("woff"),
    url("../fonts/pfdindisplaypro-reg.ttf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/futura.eot");
  src: url("../fonts/futura.eot?#iefix") format("embedded-opentype"),
    url("../fonts/futura.woff") format("woff"),
    url("../fonts/futura.ttf") format("truetype");
}
@font-face {
  font-family: "Futura-Bold";
  src: url("../fonts/Futura-Bold.eot");
  src: url("../fonts/Futura-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Futura-Bold.woff") format("woff"),
    url("../fonts/Futura-Bold.ttf") format("truetype");
}