@import "./variables.scss";

header {
  position: relative;
  background: url("../img/header_bg.png");
  background-size: cover;
}
header .bb-linsa {
  //white line in top???
  margin-top: -1px;
}
.uk-civer_top{
  margin-top: 46px;
}
.product-name {
  width: 778px;
}
header .block-description {
  width: 838px;
}
header .bb-linsa > .container {
  padding-top: 180px;
  position: relative;
}
.bb-countdown {
  width: 379px;
  &-name{
    font-size: 21px;
  }
  &-line{
    height: 3px;
    background: white;
    border: none;
    opacity: 0.1;
  }
  &-time-number {
    font-family: $pfdindisplaypro;
    font-size: 45px;
    font-weight: 500;
    color: $main-color;
  }
  &-time-name {
    opacity: 0.49;
    font-weight: 700;
  }
}


.bb-scroll-down {
  margin: 80px 0 50px 0;
  svg {
    width: 70px;
    height: 50px;
  }
}
